.artwork-card {
  max-height: fit-content;
  max-width: 15vw;
  min-width: 300px;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-decoration: none;
  transition: box-shadow 0.3s ease, scale 0.3s ease;
}

.artwork-link {
  text-decoration: none;
  color: inherit;
  display: block;
}

.artwork-card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  scale: 1.05;
}

.artwork-image {
  width: 100%;
  max-height: 450px;
  object-fit: contain;
  border-bottom: 2px solid #ddd;
  padding-bottom: 1em;
}

.artwork-details {
  padding-top: 1em;
}

.artwork-title {
  font-size: 1.25em;
  margin: 0;
  color: #222;
  width: 100%;
  font-weight: 500;
}

.artwork-artist {
  font-size: 1em;
  color: #666;
}

.artwork-children {
  margin-top: 10px;
}

.artwork-list {
  margin-inline: 7.5vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
